header {
    background-color: rgb(15, 21, 124);
    border-color: aqua;
    color: rgb(223, 76, 253);
    text-align: center; }
    header h1 {
      margin: 2px;
      border: 2px solid white; }
      header nav{
        background-color: rgb(15, 21, 124);
     }

      

   